# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/

# Data (не коммитим)
/data/
*.las
*.laz
*.tif
*.tiff
*.npz
*.npy
*.csv

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# uv
# uv.lock КОММИТИМ (правило команды)
runs/
dist/

# Django
.env
web/db.sqlite3
web/static_collected/
web/media/
web/config/settings_local.py
